.HelloWorld {
    border: 6px solid black;
    text-align: center;
    background: #92c2f6;
    color: #333;
    margin: 20px;
    padding: 20px;
  }

  button {
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(6, 43, 130);
    border-radius: 5px;
  }