.HelloWorld {
    border: 6px solid black;
    text-align: center;
    background: #c2c1b9;
    color: #333;
    margin: 20px;
    padding: 20px;
  }

  button {
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(130, 74, 6);
    border-radius: 5px;
  }